.cardLayout{
  width: 200px;
  height: 100%;
  padding: 15px;
  background-color: tomato;
  margin: 0px 10px;
}
.imageconatiner{
  width: 100%;
  height: 140px;
}
.detailcontainer{
  display: flex;
  flex-direction: column;
}